/* Large devices such as laptops and dekstop (1024px and up) */
/* Here’s a color palette inspired by the example:

Creamy Beige (#F7F4F0) – For the background grid and main content areas.
Rusty Red (#D35C4D) – For the accent sections and button backgrounds.
Charcoal Black (#333333) – For the text in titles and important text sections.
Soft White (#FFFFFF) – For backgrounds within icons or light text sections.
Warm Gray (#B8A89D) – For the grid lines and subtle borders.
Peachy Pink (#E6C9B7) – For background highlights in feature sections. */

/* * {
    outline: 1px solid green;
} */

@media only screen and (min-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 100%;
        font-family: "Ubuntu", sans-serif;
        font-size: 20px;
        font-weight: 450;
        background-color: #fcf3cf;
    }

    #header {
        padding: 0 10px;
        background-color: #fcf3cf;
        /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); */
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        border-bottom: 1px solid #444444;
        overflow: hidden;
        z-index: 1;
    }

    #navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: hidden;
        gap: 40px;
        height: 70px;
    }

    .logo img {
        border-radius: 15px;
    }

    #navbar li {
        list-style: none;
        padding: 0 20px;
        position: relative;
    }

    #navbar li a {
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 600;
        color: #444444;
        transition: 0.3s ease;
    }

    #navbar .navbar-menu:hover,
    #navbar .navbar-menu.active {
        color: #d6bb80;
        /* font-size: 1.2rem; */
    }

    #navbar .navbar-menu.active:after,
    #navbar .navbar-menu:hover::after {
        content: "";
        width: 30%;
        height: 2px;
        background: #d6bb80;
        position: absolute;
        bottom: -4px;
        left: 20px;
        animation: navbar 0.3s ease;
    }

    @keyframes navbar {
        from {
            transform: 
            translateX(-30px);
        }

        to {
            transform: 
            translateX(0);
        }
    }

    .bi-type-bold {
        stroke: #fcf3cf;
        stroke-width: 1.3px;
    }

    #cart-container {
        height: 50px;
        width: 50px;
        margin-left: 50px;
        background-color: #444444;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease;
    }

    #cart-container:hover {
        background-color: #d6bb80;
    }

    #cart-container:hover .bi-type-bold {
        stroke: #444444;
    }

    #hero {
        overflow: hidden;
        background-color: #fcf3cf;
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 600px; */
        height: 89vh;
    }

    #foreword {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
        outline: 1px solid #444444;
        text-align: center;
        position: relative;
        color: #444444;
        margin: 0 50px;
        width: 80%;
        max-width: 1300px;
    }

    #foreword h1 {
        font-size: 6rem;
        margin-bottom: 10px;
    }

    @media (max-width: 1493px) {
        #foreword {
            padding: 50px 0;
        }

        #foreword h1 {
            font-size: 5rem;
        }
    }

    @media (max-width: 1237px) {
        #foreword h1 {
            font-size: 4rem;
        }
    }

    #foreword span {
        font-size: 1rem;
        margin-bottom: 30px;
    }

    .cake-design-foreword {
        outline: 1px solid #444444;
        height: 150px;
        position: absolute;
    }

    #slice-cake {
        width: 100px;
        left: 20px;
        bottom: -30px;
    }

    #full-cake {
        width: 80px;
        right: 0;
        top: 70px;
    }

    #slice-cake-in {
        width: 100px;
        height: 150px;
        background-color: #d6bb80;
        position: absolute;
        left: -10px;
        top: 17px;
    }

    #slice-cake-in img {
        position: absolute;
        height: 190px;
        max-width: auto;
        bottom: -17px;
        left: -22px;
    }

    #full-cake-in {
        width: 100px;
        height: 150px;
        background-color: #d6bb80;
        position: absolute;
        top: -10px;
        left: 10px;
    }

    #full-cake-in img {
        position: absolute;
        height: 220px;
        max-width: auto;
        bottom: -35px;
        right: -30px;
        -webkit-transform: scaleX(-1);
        transform: 
        scaleX(-1)
        rotate(6deg);
    }

    button {
        width: 150px;
        padding: 10px;
        border-radius: 12px;
        background-color: #444444;
        color: #fcf3cf;
        font-weight: 600;
        border: 0;
        transition: 0.3s ease;
    }

    button:hover {
        background-color: #d6bb80;
        color: #444444;
    }

    #foreword button {
        font-size: 1rem;
    }

    #services {
        overflow: hidden;
        background-color: #d6bb80;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 350px;
        outline: 1px solid #444444;
    }

    #services-main-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        max-width: 1300px;
        gap: 15px;
    }

    .services-container {
        outline: 1px solid #fcf3cf;
        height: 250px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fcf3cf;
    }

    .services-container span {
        margin-top: 20px;
        font-size: 1.1rem;
        text-align: center;
    }

    #products {
        overflow: hidden;
        background-color: #fcf3cf;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #products h2 {
        margin: 100px 0 20px 0;
        font-size: 3rem;
        color: #444444;
    }

    #products-container {
        outline: 1px solid #444444;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1300px;
        padding: 10px;
        gap: 10px;
        margin-bottom: 1px;
    }

    .column-products {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .card-products {
        outline: 1px solid #444444;
        width: 100%;
        height: 500px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: #444444;
        overflow: hidden;
    }

    .card-products img {
        width: 100%;
        height: 80%;
        object-fit: cover;
    }

    #button-add-cart {
        margin: 10px 10px;
        width: 95%;
        border-radius: 8px;
        text-transform: uppercase;
        font-size: 0.8rem;
    }

    #button-see-more {
        margin: 20px 0;
        font-size: 1rem;
    }


    #about {
        margin-top: 100px;
    }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {}





