/* Large devices such as laptops and dekstop (1024px and up) */
/* Here’s a color palette inspired by the example:

Creamy Beige (#F7F4F0) – For the background grid and main content areas.
Rusty Red (#D35C4D) – For the accent sections and button backgrounds.
Charcoal Black (#333333) – For the text in titles and important text sections.
Soft White (#FFFFFF) – For backgrounds within icons or light text sections.
Warm Gray (#B8A89D) – For the grid lines and subtle borders.
Peachy Pink (#E6C9B7) – For background highlights in feature sections. */

/* * {
    outline: 1px solid green;
} */

@media only screen and (min-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 100%;
        font-family: "Ubuntu", sans-serif;
        font-size: 20px;
        font-weight: 450;
        background-color: #fff8de;
        overflow-x: hidden;
    }

    #header {
        padding: 0 10px;
        background-color: #fff8de;
        /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); */
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        border-bottom: 1px solid #444444;
        z-index: 1;
    }

    #navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: hidden;
        gap: 40px;
        height: 70px;
    }

    .logo img {
        border-radius: 15px;
    }

    #navbar li {
        list-style: none;
        padding: 0 20px;
        position: relative;
    }

    #navbar li a {
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 600;
        color: #444444;
        transition: 0.3s ease;
    }

    #navbar .navbar-menu:hover,
    #navbar .navbar-menu.active {
        color: #d3622d;
        /* font-size: 1.2rem; */
    }

    #navbar .navbar-menu.active:after,
    #navbar .navbar-menu:hover::after {
        content: "";
        width: 30%;
        height: 2px;
        background: #d3622d;
        position: absolute;
        bottom: -4px;
        left: 20px;
        animation: navbar 0.3s ease;
    }

    @keyframes navbar {
        from {
            transform: 
            translateX(-30px);
        }

        to {
            transform: 
            translateX(0);
        }
    }

    .bi-type-bold {
        stroke: #fff8de;
        stroke-width: 1.3px;
    }

    #cart-container-button {
        height: 50px;
        width: 50px;
        margin-left: 50px;
        background-color: #444444;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease;
        position: relative;
    }

    #cart-container-button:hover {
        background-color: #d3622d;
    }

    #cart-container-button:hover .bi-type-bold {
        stroke: #fff8de;
    }

    #quantity-badge {
        position: absolute;
        width: 15px;
        height: 15px;
        font-size: 0.8rem;
        bottom: 0;
        text-align: center;
        color: #fff8de;
        background-color: #d3622d;
        border-radius: 50%;
    }

    .cart-page {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 35rem;
        height: 88vh;
        padding: 0 1.5rem;
        transition: 0.3s;
        background-color: #e9c0ad;
        outline: 1px solid #444444;
        color: #444444;
        overflow-y: auto;
    }

    .cart-page.active {
        right: 0;
    }

    .cart-page h2 {
        margin: 2rem 0;
        font-size: 3rem;
        text-align: center;
    }

    .cart-page .cart-item {
        position: relative;
        margin: 2rem 0;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 1px dashed #444444;
    }

    .cart-page img {
        height: 4rem;
        border-radius: 50%;
        outline: 1px solid #444444;
    }

    .cart-page h3 {
        font-size: 1.2rem;
        padding-bottom: 0.5rem;
        color: #474747;
    }

    .cart-page .item-price {
        font-size: 1rem;
    }

    .cart-page .cart-item #add,
    .cart-page .cart-item #remove {
        width: auto;
        display: inline-block;
        padding: 2px 5px;
        cursor: pointer;
        margin: 0 8px;
        background-color: #444444;
        color: #e9c0ad;
        font-weight: bold;
        font-size: 1.1rem;
        border-radius: 7px;
    }

    .cart-page .cart-item #add:hover,
    .cart-page .cart-item #remove:hover {
        background-color: #d3622d;
    }

    .cart-page h4 {
        font-size: 1.6rem;
        margin-top: -1rem;
    }

    .form-container {
        width: 100%;
        display: flex;
        justify-content: center;
        border-top: 1px dashed #444444;
        margin-top: 1rem;
        padding: 1rem;
    }

    .form-container h5 {
        text-align: center;
        font-size: 1rem;
    }

    .form-container form {
        width: 100%;
        text-align: center;
    }

    .form-container label {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 1rem 0;
    }

    .form-container span {
        text-align: right;
    }

    .form-container input {
        background-color: #fff8de;
        padding: 5px;
        font-size: 1rem;
        width: 70%;
    }

    .form-container .checkout-button {
        margin: 1rem auto;
        cursor: pointer;
        font-size: 0.9rem;
        padding: 20px;
    }
/* header section end */

/* hero section start */

    #hero {
        overflow: hidden;
        background-color: #fff8de;
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 600px; */
        height: 89vh;
    }

    #foreword {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
        outline: 1px solid #444444;
        text-align: center;
        position: relative;
        color: #444444;
        margin: 0 50px;
        width: 80%;
        max-width: 1300px;
    }

    #foreword h1 {
        font-size: 6rem;
        margin-bottom: 10px;
    }

    #foreword span {
        font-size: 1rem;
        margin-bottom: 30px;
    }

    @media (max-width: 1493px) {
        #foreword {
            padding: 50px 0;
        }

        #foreword h1 {
            font-size: 5rem;
        }
    }

    @media (max-width: 1294px) {
        #foreword h1 {
            font-size: 3.8rem;
        }

        #foreword span {
            font-size: 0.9rem;
        }
    }

    .cake-design-foreword {
        outline: 1px solid #444444;
        height: 200px;
        position: absolute;
    }

    #slice-cake {
        width: 160px;
        left: 20px;
        bottom: -30px;
    }

    #full-cake {
        width: 120px;
        right: 0;
        top: 70px;
    }

    #slice-cake-in {
        width: 160px;
        height: 200px;
        background-color: #d3622d;
        position: absolute;
        left: -10px;
        top: 17px;
    }

    #slice-cake-in img {
        position: absolute;
        height: 260px;
        max-width: auto;
        bottom: -30px;
        left: -20px;
    }

    #full-cake-in {
        width: 160px;
        height: 200px;
        background-color: #d3622d;
        position: absolute;
        top: -10px;
        left: 10px;
    }

    #full-cake-in img {
        position: absolute;
        height: 270px;
        max-width: auto;
        bottom: -35px;
        right: -30px;
        -webkit-transform: scaleX(-1);
        transform: 
        scaleX(-1)
        rotate(6deg);
    }

    button {
        width: 150px;
        padding: 10px;
        border-radius: 12px;
        background-color: #444444;
        color: #fff8de;
        font-weight: bold;
        border: 0;
        transition: 0.3s ease;
        cursor: pointer;
    }

    button:hover {
        background-color: #d3622d;
        color: #fff8de;
    }

    #foreword button {
        font-size: 0.9rem;
        padding: 20px;
    }

    #services {
        overflow: hidden;
        background-color: #d3622d;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 350px;
        outline: 1px solid #444444;
    }

    #services-main-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        max-width: 1300px;
        gap: 15px;
    }

    .services-container {
        outline: 1px solid #fff8de;
        height: 250px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff8de;
    }

    .services-container span {
        margin-top: 20px;
        font-size: 1.1rem;
        text-align: center;
    }

    #products {
        overflow: hidden;
        background-color: #fff8de;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #products h2 {
        margin: 100px 0 20px 0;
        font-size: 3rem;
        color: #444444;
    }

    #category {
        margin-bottom: 10px;
        width: 80%;
        outline: 1px solid #444444;
        max-width: 1300px;
    }

    #category-container {
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
        margin: 10px;
        list-style: none;
    }

    #category-container li button {
        width: fit-content;
        background-color: transparent;
        font-size: 1.1rem;
        color: #444444;
        transition: 0.3s ease;
        position: relative;
        cursor: pointer;
        padding: 0;
        margin: 10px;
    }

    #category-container .category-menu:hover,
    #category-container .category-menu.active-category {
        color: #d3622d;
    }

    #category-container .category-menu.active-category:after,
    #category-container .category-menu:hover::after {
        content: "";
        width: 50%;
        height: 2px;
        background: #d3622d;
        position: absolute;
        bottom: -4px;
        left: 0;
        animation: category 0.3s ease;
    }

    @keyframes category {
        from {
            transform: 
            translateX(-30px);
        }

        to {
            transform: 
            translateX(0);
        }
    }

    #products-container {
        outline: 1px solid #444444;
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        max-width: 1300px;
        padding: 10px;
        margin-bottom: 1px;
    }

    .column-products {
        width: 100%;
        display: grid;
        justify-content: start;
        align-items: start;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

    .card-products {
        outline: 1px solid #444444;
        width: auto;
        height: 500px;
        padding: 10px;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        color: #444444;
        overflow: hidden;
        display: none;
    }

    .show {
        display: flex;
    }

    .card-products img {
        width: 100%;
        height: 74%;
        object-fit: cover;
        background-color: #e9c0ad;
    }

    .products-title-price {
        display: flex;
        justify-content: space-between;
        align-items: start;
        width: 100%;
        margin: 20px 0 auto 0;
    }

    h3 {
        font-size: 1rem;
        width: 75%;
    }

    .products-title-price span{
        font-size: 1rem;
    }

    #button-add-cart {
        margin: 10px 0;
        width: 100%;
        border-radius: 8px;
        text-transform: uppercase;
        font-size: 0.9rem;
        background-color: #d3622d;
        color:#fff8de;
    }

    #button-add-cart:hover {
        background-color: #444444;
        color: #fff8de;
    }

    #button-see-more {
        display: block;
        margin: 20px auto;
        font-size: 0.9rem;
        padding: 20px;
    }


    #about {
        margin-top: 100px;
        overflow: hidden;
        background-color: #e9c0ad;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 350px;
        outline: 1px solid #444444;
    }

    #about-main-container {
        display: flex;
        width: 80%;
        max-width: 1300px;
        justify-content: start;
        align-items: center;
    }

    #about-image {
        width: 250px;
        height: 270px;
        background-color: #d3622d;
        border-radius: 10px;
        outline: 1px solid #444444;
        position: relative;
        margin-right: 100px;
    }

    #about-image img {
        height: 400px;
        width: 650px;
        position: absolute;
        left: -10px;
        bottom: -50px;
        -webkit-transform: scaleX(-1);
        transform: 
        scaleX(-1);
    }

    #about-desc {
        width: 70%;
        color: #444444;
    }

    #desc {
        margin-top: 20px;
        font-size: 1rem;
    }

    .highlight-desc {
        font-size: larger;
        color: #d3622d;
    }

    #footer {
        
    }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {}





